// Font import
@font-face {
    font-family: 'Arial';
    src: url(../fonts/ArialUnicodeMS.ttf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica400.ttf);
}

//Variables

$arial: 'Arial', sans-serif;
$helvetica: 'Helvetica', sans-serif;

// Globals

* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

// Nav

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 5%;
    height: 100px;
    
    &__list {
        display: flex;
        list-style-type: none;
        width: 25%;
        padding: 0  ;
        justify-content: space-between;
    }

    &__listelem {
        margin:0 1%;
    }

    &__link {
        text-decoration: none;
        font-size: 1.25em;
        color: black;
        font-family: $helvetica;

        &--current {
            color: #1F3F68;
            font-weight: 600;
        }
    }
}

//Header

.main-header {
    background-image: url(../images/MaskGroup.svg);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;

    &__title {
        font-family: $arial;
        font-size: 2.75rem;
        text-align: center;
        color: white;
    }

    &__text {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.875rem;
    
        text-align: center;
        letter-spacing: 0.04em;

        color: rgba(255, 255, 255, 0.78);

    }
}

//main doc 

.main-doc {
    margin: 0 15%;

    &__searchbar {
        width: 100%;
        margin: 10% auto;
        border-radius: 10px;
        background-color: #F4F4F4;
        height: 56px;
        border: none;
        padding-left: 5%;
    }

    &__title {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 23px;
        /* identical to box height */

        letter-spacing: 0.04em;

        /* blue_03 */

        color: #356EAD;
        opacity: 0.8;
    }
}

// popular articles 

.pop-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:0 10px;

    &__element {
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;

        &--emphasis {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 4;
            
            flex-direction: row-reverse;
        }

    }

    &__img {
        margin: auto;
        align-self: center;

        &--emphasis {
            margin: 0 1%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 2.875rem;
        letter-spacing: 0.04em;

        color: #1F3F68;

        &--emphasis {
            font-size: 2.25rem;
        }


    
    }

    &__paragraph {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
        /* or 162% */

        letter-spacing: 0.04em;

        color: #000000;

        opacity: 0.6;
    }


    &__author {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5rem;
        /* identical to box height, or 171% */

        letter-spacing: 0.04em;

        /* Blue_01 */

        color: #1F3F68;

    }

    &__datetime {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        /* identical to box height, or 171% */

        letter-spacing: 0.04em;

        color: rgba(0, 0, 0, 0.4);

    }
}

//all articles

.all-article {
    

    &__element {
        margin: 1% 0;
        display: flex;
    }

    &__img {
        margin: auto;
        align-self: center;
        margin-right: 3%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__title {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 2.875rem;
        letter-spacing: 0.04em;
        color: #1F3F68;
        margin: 0;
        &--emphasis {
            font-size: 2.25rem;
        }


    
    }

    &__paragraph {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.04em;
        color: #000000;
        opacity: 0.6;
        margin: 0;
    }

    &__footer {
        margin-top: 2%;
    }

    &__author {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5rem;
        /* identical to box height, or 171% */

        letter-spacing: 0.04em;

        /* Blue_01 */

        color: #1F3F68;

    }

    &__datetime {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        /* identical to box height, or 171% */

        letter-spacing: 0.04em;

        color: rgba(0, 0, 0, 0.4);

    }
}